body,hr{
    background-color: #ccede0;
}
hr{
    
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 4%;
}
h1,h3{
    color: rgb(163, 18, 115);
}
body{
    background: url(https://upload.wikimedia.org/wikipedia/en/thumb/b/b3/Atal_Bihari_Vajpayee_Indian_Institute_of_Information_Technology_and_Management%2C_Gwalior_logo.jpg/220px-Atal_Bihari_Vajpayee_Indian_Institute_of_Information_Technology_and_Management%2C_Gwalior_logo.jpg) center no-repeat,url(https://galshir.com/img/gal-shir-brush-concrete.png) repeat;
    background-size: auto,auto;
    color: lightcoral;
}
a{
    color: lightcoral;
}